html, body {
    height: 100%;
}

body {
	margin: 0 auto;
	background-color: #407A9F;
	font-family: "Open Sans Condensed", sans-serif;
}

/*****navbar*****/
nav {
	background-color: #407A9F;
    opacity: .85;
    border-bottom: 3px solid #DBC56F;
    color: #291A34;
    height: 60px;
}
#logo {
    color: #DBC56F;
    margin: 0 20px;
    font-size: 40px;
}
.navlink {
    height: 60px;
    padding: 2px;
    color: #291A34;
    font-size: 18px;
    padding: 0 15px;
    text-align: center;
}
.navlink>img {
    margin-top: 6px;
}
#linkedin-image {
    margin-top: 10px;
}
.dropdown-content {
    background-color: #407A9F;
}
#projects {
    top: 60px !important;
    opacity: .95 !important;
    border: 2px solid #DBC56F;
    border-top: none;
}
.dropdown-content li>a {
       color: #291A34;
}
.dropdown-content li:hover {
       background-color: rgba(0,0,0,0.1);
}

.parallax-container {
    height: 80%;
}

header {
    background-color: #407A9F;
    opacity: .75;
    margin: 100px auto;
    padding: 5px;
    height: 50%;
    width: 50%;
    color: #291A34;
    text-align: center;  
}
#name {
    color: #DBC56F;
}

.portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.modal-content {
    text-align: center !important;
}

.card {
    opacity: .85;
}
.card-content {
    color: #291A34;
}
.card .card-image {
	border: 2px solid #DBC56F;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: #DBC56F;
}


