html, body {
    height: 100%;
}

body {
	margin: 0 auto;
	background-color: #407A9F;
	font-family: "Arima Madurai", sans-serif;
}

p {
    font-size: 16px;
}
/*****navbar*****/
nav {
	background-color: #407A9F;
    border-bottom: 3px solid #DBC56F;
    color: #291A34;
    height: 65px;
}
#logo {
    color: #DBC56F;
    margin: 0 20px;
    font-size: 40px;
}
.navlink {
    height: 60px;
    color: #291A34;
    font-size: 18px;
    padding: 0 15px;
    text-align: center;
}
.navlink>img {
    margin-top: 6px;
}
#linkedin-image {
    margin-top: 10px;
}
.dropdown-content {
    background-color: #407A9F;
}
#projects {
    top: 60px !important;
    opacity: .95 !important;
    border: 2px solid #DBC56F;
    border-top: none;
}
.dropdown-content li>a {
       color: #291A34;
}
.dropdown-content li:hover {
       background-color: rgba(0,0,0,0.1);
}

.parallax-container {
    height: 95%;
}

header {
    background-color: #407A9F;
    opacity: .75;
    margin: 100px auto;
    padding: 5px;
    height: 33%;
    width: 50%;
    color: #291A34;
    text-align: center;  
}
#name {
    color: #DBC56F;
}

.portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.modal-content {
    text-align: center !important;
}

.card {
    opacity: .85;
}
.card-content {
    color: #291A34;
}
.card .card-image {
	border: 2px solid #DBC56F;
}
.card .card-image:hover {
    opacity: .75;
}
.card-action {
        text-align: center;
}
.github-code {
    background-color: #DBC56F;
    padding: 2px;
    border-radius: 50%;
}
.card .card-action a .github-code:hover{
	opacity: .75;
}

/***** to remove right-space when switching from 2 cols to 1 col *****/
@media (max-width: 992px) {
    .col {
        float: none !important;
    }
}

/****** to make navbar and header size better ******/
@media (max-width: 600px) {
    .navlink {
        padding: 0 5px;
    }
    header {
        height: 40%;
    }
    #name {
        font-size: 40px;
    }
    #resume {
        width: 100% !important;
    }

}


